#macOs temp files
.DS_Store
#VIM temp files
*.sw[nop]
*~
.env
.netrwhist
#Javascript
node_modules/**
node_modules/.*
.yarn-integrity
#Hub
.config/hub

.atom/packages/*
.atom/packages
.vim/plugged/*
.vim/plugged
.vim/view

.private

#WooCommerc.com docker
/Users/dwain/projects/woo.com/wordpress/wp-content/docker*
/Users/dwain/projects/woo.com/wordpress/wp-content/Docker*

